@import "tailwindcss";
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@theme {
  --animate-fade-up: fadeUp 0.9s ease-out forwards;
}
@keyframes fadeside {
  from {
    opacity: 0;
    transform: translateX(70px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@theme{
    --animate-fadeside:fadeUp 0.9 ease-in-out forwards;
}


